  /*Gallery route CSS*/
  /*gallery imageContainer CSS*/
  .container2{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 5rem;
    width: 100%;
    
  }

  
  .top-cont{
    background: linear-gradient(rgba(255,255,255, 0.5), rgba(239, 17, 17, 0.1));

  }


  .container2 p{
    font-size: 30px;
  }

  

.quote{
  border-radius: 20px;
  padding:50px;
  margin: 20px;
  background-color: gray;
  font-weight: bold;
  box-shadow: 2px 2px 2px 2px black;
}

img{
  border-radius: 20px;
  width: 500px;

}

.items5{
  display: flex;
  flex-direction: row;
  gap: 20px;
  background: gray;
  padding: 10px;
  margin-top: 20px;
}
@media(max-width:600px){
  
img{
  border-radius: 20px;
  width: 100%;

}

.items5{
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: gray;
  padding: 10px;
  margin-top: 20px;
}
}





 .gallery-slide{
  border: 20px solid;
  padding-top: 50px;
  text-align: center;
 }


  
  