/* Footer.css */

.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

p {
  margin: 0;
}
.topbar{
  display: flex;
  flex-direction: column;
  background-color: rgb(78, 75, 75);
/*background-image: url("waypro img.jpg");
background-repeat: repeat;*/
}

.topbar .info{
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
text-align: center;
font-size: 20px;
font-family: Arial, Helvetica, sans-serif;
padding-top: 50px;
}
