body{
    background-color: rgb(29, 29, 31);
  }
  
  .container{
  height:100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction:row;
  }

  .name_n_motto{
    border: 1px solid;
    border-end-end-radius: 20px;
    border: 20px;

    height:100%;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
  }

  .cover_pic{
    background-image: url('waypro img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height:500px;
    width: 100%;
    opacity: 30%;
    border-radius: 20px;
  }
  
  
   
  /*home*/
  main{
    background: linear-gradient(rgba(255,255,255, 0.5), rgba(239, 17, 17, 0.1));
  ;
    /*background-image: url('./weypro himsef.jpg');
    background-size: auto;
    opacity: 0.6;*/
    
    
  }
  h1{
    font-size: 100px;
    text-shadow: 3px 3px rgb(94, 82, 82);
  }
  span{
    color: red;
  }
  h2{
   font-size: 40px;
   text-shadow: 2px 2px 5px gray;
   white-space: nowrap;
  
  }
  h3{
    font-size: 25px;
   text-shadow: 1px 1px 5px gray;
   white-space: nowrap;
   }
  
  
  
  






   
  /*About me route CSS*/
  /*About me route text and image box CSS*/
  .textandImageBox{
    display: flex;
    flex-direction: row;
    padding: 100px;
    justify-content: space-between;
    box-shadow: 2px 2px 2px gray;
    
  }
  .aboutMeFont{
    font-size: 50px;
    text-align: center;
  }
  /*About me route image CSS*/
  .aboutMeImage{
    height: 500px;
    border-radius: 50px;
    box-shadow: 2px 2px 2px gray;
  }
  .textItem{
    align-self: center;
    border: solid rgb(159, 94, 94);
    border-radius: 20px;
    box-shadow: 2px 2px 2px gray;
    font-size: 130%;
  
  }
  
  
  
  
  /*Contact route CSS*/
  /*Contact route image CSS*/
  .thisIsMe{
   border-radius: 300px;
   padding-top: 50px;
  }
  .imgText{
  text-align: center;
  }
  /*Contact route form CSS*/
  .YourmessageBox{
    height: 200px;
    width: 500px;
    
  }
  .Yourname{
    border-radius: 5px;
    outline: none;
  }
  .email{
    border-radius: 5px;
    outline: none;
  }
  
  .Yourmessage{
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 10px;
  }
  
  .submit{
    border-radius: 50px;
  }


  
  
  /*Gallery route CSS*/
  /*gallery imageContainer CSS*/
  .container2{
    text-align: center;
    margin-top: 5rem;
    width: 100%;
  }
  .top-cont{
    background: linear-gradient(rgba(255,255,255, 0.5), rgba(239, 17, 17, 0.1));

  }


  .container2 p{
    font-size: 30px;
  }

  .items2{
    padding: 50px;
    background: linear-gradient(rgba(255,255,255, 0.5), rgba(239, 17, 17, 0.1));

      }
  
  .items1{
    border-radius: 50px;
    background-color: lin;
    }

.quote{
  border-radius: 20px;
  padding:50px;
  background-color: gray;
  font-weight: bold;
}

img{
  border-radius: 20px;
}

.items5{
  background: linear-gradient(rgba(83, 30, 30, 0.5), rgba(95, 26, 26, 0.1));
  padding: 50px;
}


 .gallery-slide{
  padding-top: 50px;
  text-align: center;
 }

  
  